.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    background-color: #FFF;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header img {
    height: 86px;
    margin-right: 16px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

form {
    display: inline;
    max-width: 720px;
    width: 100%;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #FFF;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #009432;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 8px;
    cursor: pointer;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



